.article-row {padding: 20px 0}
.article-plate {
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.6s;
  //transition: box-shadow 5s;
  .btn {
    transition: display 4s ;
  }
  a.btn {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  &:hover {
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
    z-index: 999;
    box-shadow: 3px 3px 3px 3px #dddddd;
    a.btn {
      visibility: visible;
      opacity: 1;
    }
  }
}
.article-h2 {
  border: 1px solid $submenu-border;
}
.promo-flex-box {
  border: 1px solid #ac2925;
  display: inline-flex;
  flex-direction: row;
  .flex-img {
    flex-shrink: 1;
  }
}

.blinking {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* CSS Document */

marquee {
  //margin-top: 5px;
  width: 100%;
}

.runtext-container {
  //background-color:#ddddff;
  //*background-color:#ccf;
  //background-image:-moz-linear-gradient(top,#ccf,#fff);
  //background-image:-webkit-gradient(linear,0 0,0 100%,from(#ccf),to(#fff));
  //background-image:-webkit-linear-gradient(top,#ccf,#fff);
  //background-image:-o-linear-gradient(top,#ccf,#fff);
  //background-image:linear-gradient(to bottom,#ccf,#fff);
  //background-repeat:repeat-x;
  //border: 4px solid #000000;
  //box-shadow:0 5px 20px rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid red;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  //margin: 0 60px 0 30px;
  //padding:0 3px 0 3px;
}

.main-runtext {margin: 0 auto;
  overflow: visible;
  position: relative;
  //height: 40px;
}

.runtext-container .holder {
  position: relative;
  overflow: visible;
  display:inline;
  float:left;

}

.runtext-container .holder .text-container {
  display:inline;
}

.runtext-container .holder a{
  text-decoration: none;
  font-weight: bold;
  color:#ff0000;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  line-height: -0.5em;
  font-size:16px;
}

.runtext-container .holder a:hover{
  text-decoration: none;
  color:#6600ff;
}