h3 a:hover {color: $submenu-border;}

.well {
  border: medium none;
  box-shadow: none;
}
.categoryList {
  margin-bottom: 25px;
  border-bottom: 3px solid;
}
.text-right {
  border-image: linear-gradient(to right, #fff 0%, $bottom-line-image 100%);
  border-image-slice: 1;
}
.text-left {
  border-image: linear-gradient(to left, #fff 0%, $bottom-line-image 100%);
  border-image-slice: 1;
}

.text-center {
  border-image: radial-gradient( $bottom-line-image 50%, #fff 100%);
  border-image-slice: 1;
}





.promo {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.promoRight {
  border-top: solid 1px $brand-warning;
  padding: 10px 0 20px;
}
.promo-right-header {
  padding-bottom: 5px;
  margin-top: -5px;
  color: rgb(255, 0, 0);
  font-style: italic;
}

.img-thumbnail {
  border: 1px solid $submenu-border;
}
.paddingTop {
  padding-top: 15px;
}
#categoryArticles {
  border-left: 1px solid #f09713;
  border-radius: 0;
}
#categoryArticles {
  border-left: solid 1px lighten($bottom-line-image, 50%);
  border-radius: 0px;
  > div {
    border-bottom: solid 1px lighten($bottom-line-image, 50%);
  }
  :last-child {
    border-bottom: none;
  }
}
.available {
  color: $brand-warning
}

.dropdown {
  .btn-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  :hover {
    background-color: darken(#fcf8e3, 20%);
    border-color: darken(#faebcc, 20%);
  }
}
.orderBox, .info {
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, 0.5), 0 0 0 0 #c1c1c1 inset;
}
#Remove span {
  color: red;
}

.categoryList {
  h3{
    padding: 0;
    margin-top: 0;
  }

}
.paddingTop {
  padding-top: 0;
  h5 {
    margin: 0;
    padding: 0;
    a {
      color: $bottom-line-image;
      &:hover {
        color: $menu-underline;
      }
    }
  }
}
h3 {
  margin: 0;
  padding: 0;
  a {
    color: $bottom-line-image;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $menu-underline;
    }
  }
}
.categoryBlock {
  img {
    border: 1px solid $bottom-line-image;
    padding: 0;
    margin-right: 15px;
    transition: .2s linear;
    &:hover {
      border: 1px solid red;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
      box-shadow: 0 0 0 2px white , 0 0 0 4px $bottom-line-image , 0 0 8px 2px $bottom-line-image ;
    }
  }
}