#footer {
  padding-top: 20px;
  background-color: #3a3a3a;
  color: #dddddd;
  box-shadow: 0 14px 11px -6px rgba(0,0,0,0.8) inset;
  span.podzag {
    text-shadow: 2px 2px 10px #fff, 2px 2px 0 #000;
    font-size: 120%;
    line-height: 2em;
  }

}