$lightgarkborder  : #ccc;
$lightgarkbacground  : #eee;
#infotab {


  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border: none;
/*    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;*/
    color: #555555;
    cursor: default;
  }
  .nav-tabs > li > a:hover, .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    border: none;
  }
  .nav-tabs > li > a {
    border: none;
  }
  .nav-tabs {
    border-bottom:none;
  }

  ul.nav {
    position: relative;
    z-index: 1;
    white-space: nowrap;
  }

  ul.nav li a{ // nav a
    position: relative;
    display: inline-block;
    padding: 1.5em 1.5em 1em;
    color: inherit;
    text-decoration: none;
    margin: 0 -7px;
  }

  ul.nav li a::before,
  main {
    border: .1em solid $lightgarkborder;
  }

  ul.nav li a::before {
    content: ''; /* To generate the box */
    position: absolute;
    top: 0; right: 0; bottom: .5em; left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: $lightgarkbacground;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(8px) rotateX(1deg);
    transform-origin: bottom;
    //transform: skew(20deg);
  }

  ul.nav.left li a {
    padding: 1.5em 2em 1em 1em;
  }

  ul.nav.left li a::before {
    transform-origin: bottom left;
  }



  ul.nav li.active a{
    z-index: 2;
  }

  ul.nav li.active a::before {
    margin-bottom: -1px;
    border-top-width: 1px;
  }

  ul.nav li.active a::before,
  #articleDesc {
    background: #fff;
  }

  #articleDesc {
    display: block;
    margin: -6px 0 30px -7px;
    padding: 1em;
    border: 0.1em solid $lightgarkborder;
    //border-radius: 3px;
  }
}
#articleDesc {

  table {
    border: 1px solid #ddd ;
    tr {
      border: 1px solid #ddd ;
      background-color: #eeeeee;
    }
  }


  .odd {
    background-color: #fff;
  }
}
