// Alerts

@mixin top-menu-decorator() {
  background: $brand-warning none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  width: 5px;
}