// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.main-color {
  color: $brand-success
}

.topborder {
  border-bottom: solid 1px rgba(104, 112, 102, 0.77)
}

.cart {
  padding-top: 10px;
}

.top-menu {
  li {
    text-transform: uppercase;
  }
}

.well {
  border: none;
  box-shadow: none;
}

.categoryList {

  margin-bottom: 25px;
  border-bottom: 3px solid transparent;


}
.text-right {
  border-image: linear-gradient(to right, #fff 0%, $brand-warning 100%);
  border-image-slice: 1;
}
.text-left {
  border-image: linear-gradient(to left, #fff 0%, $brand-warning 100%);
  border-image-slice: 1;
}
.text-center {
  border-image: radial-gradient( $brand-warning 50%, #fff 100%);
  border-image-slice: 1;
}

  .promo {
  border-bottom: solid 1px $brand-warning;
  margin-bottom: 10px;
}

.promoRight {
  border-top: solid 1px $brand-warning;
  padding: 10px 0 20px;
}

.paddingTop {
  padding-top: 15px;
}

#paramLeft {
  .panel {
    border: none;
    box-shadow: none;
    padding-right: 20px;
    .panel-heading {
      padding: 10px 15px 5px;
    }
  }
}

#categoryArticles {
  border-left: solid 1px $brand-warning;
  border-radius: 0px;
  > div {
    border-bottom: solid 1px $brand-warning;
  }
  :last-child {
    border-bottom: none;
  }
}

.available {
  color: $brand-warning
}

.img-thumbnail {
  border: 1px solid $brand-warning;
}

.dropdown {
  .btn-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  :hover {
    background-color: darken(#fcf8e3, 20%);
    border-color: darken(#faebcc, 20%);
  }
}

.btn-warning:active:hover,
.btn-warning:active:focus,
.btn-warning.focus:active,
.open > .btn-warning.dropdown-toggle:hover,
.open > .btn-warning.dropdown-toggle:focus,
.open > .btn-warning.dropdown-toggle.focus {
  background-color: darken(#fcf8e3, 20%);
  border-color: darken(#faebcc, 20%);
}

.dropdown-menu {
  background-color: darken(#fcf8e3, 20%);
}

.pagination {
  margin: 0;
   li {
     > a {
       border: none;
     }
     > span {
       border: none;
     }
   }
         .active {
           a {
             background-color: darken(#fcf8e3, 20%);
           }
           :hover {
             background-color: darken(#fcf8e3, 40%);
           }

           >span {
             background-color: darken(#fcf8e3, 40%);
           }
           :hover {
             background-color: darken(#fcf8e3, 40%);
           }
           :focus {
             background-color: darken(#fcf8e3, 40%);
           }

         }
}
.pagination > .active > .span,
.pagination > .active > .span:hover,
.pagination > .active > .span:focus {
  background-color: darken(#fcf8e3, 40%);
}

/*tr>td:first-child {
  background-color: #ccc;
}

.odd {
  background-color: #ccc;
}*/

table {
  border: 1px solid #ddd ;
  tr {
    border: 1px solid #ddd ;
  }
}

#articleDesc {
  div {
    .well {
      border: 1px solid #ddd;
      border-top:none;
      border-radius: 0;
    }
  }
}
tr {
  background-color: #eeeeee;
}

.odd {
  background-color: #fff;
}


.nav-tabs li::after {
  background: #f5f5f5 none repeat scroll 0 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0 5px 0 0;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ddd;
  bottom: 0;
  box-shadow: 0 1px 1px #fff inset;
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  transform: skew(20deg);
  width: 20px;
  z-index: 1;
}
.nav-tabs li:hover::after {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom: medium none;
  z-index: 10;
}
.nav-tabs li.active::after {
  background: #fff none repeat scroll 0 0;
  border-bottom: medium none;
  z-index: 10;
}
.nav-tabs li.active {
  background: #fff none repeat scroll 0 0;
  z-index: 2;
}
.nav-tabs li a {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px #fff inset;
  margin-right: 4px;
  padding: 9px 10px 10px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.orderBox, .info {
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, 0.5), 0 0 0 0 #c1c1c1 inset;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;

}